# Smart filament runout handling (park/retract on pause, prime/wipe on resume)
# Designed for Ender-5 S1 + Klipper + BTT Smart Filament Sensor v2.0

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
description: Smart pause with retract + Z lift (clamped) + park
variable_retract: 2.0
variable_z_lift: 10.0
gcode:
    {% set x_park = printer.toolhead.axis_maximum.x - 10 %}
    {% set y_park = printer.toolhead.axis_maximum.y - 10 %}

    SAVE_GCODE_STATE NAME=PAUSE_state
    PAUSE_BASE

    # Retract to reduce oozing (only if hot enough to extrude)
    {% if printer.extruder.can_extrude %}
        G91
        G1 E-{variable_retract} F1800
        G90
    {% endif %}

    # Lift Z to clear print, clamped so we never exceed Z max
    {% set z_lift = variable_z_lift|float %}
    {% set z_now = printer.toolhead.position.z|float %}
    {% set z_max = printer.toolhead.axis_maximum.z|float %}
    {% set z_move = z_lift if (z_now + z_lift) < z_max else (z_max - z_now) %}
    {% if z_move > 0 %}
        G91
        G1 Z{z_move} F900
        G90
    {% endif %}

    # Park the toolhead
    G1 X{x_park} Y{y_park} F6000


[gcode_macro RESUME]
rename_existing: RESUME_BASE
description: Smart resume with prime + wipe (optional) then restore position
variable_prime: 3.0
variable_wipe: 1       # 1=wipe enabled, 0=wipe disabled
gcode:
    {% set wipe_x = printer.toolhead.axis_maximum.x - 20 %}
    {% set wipe_y = printer.toolhead.axis_maximum.y - 20 %}

    # Prime before moving back (only if hot enough to extrude)
    {% if printer.extruder.can_extrude %}
        G91
        G1 E{variable_prime} F900
        G90

        {% if variable_wipe|int == 1 %}
            # Small wipe to knock off any blob
            G1 X{wipe_x} Y{wipe_y} F6000
            G1 X{wipe_x - 10} F3000
        {% endif %}
    {% endif %}

    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    RESUME_BASE
